.background-cr { background-color: #dad3ce ; }


.image-right {
      float: right;
      width: 350px; /* ปรับขนาดภาพ */
      height:400 ;
      margin-left: 300px; /* ระยะห่างจากข้อความด้านซ้าย */
    }

    .cover-top {
  background-color: #f5f5dc; /* สีครีม */
  color: #333;
  font-family: 'Georgia', serif;
  padding: 80px;
  overflow: auto; /* ให้ float มีผล */
}

.image-text-row {
  display: flex;
  align-items: center;        /* ✅ จัดให้ข้อความอยู่ระดับเดียวกับกลางรูป */
  justify-content: space-between;
}
.text-left {
  max-width: 50%;
  font-size: 20px
 
}

  .second-top {
    display: flex;
    align-items: center; /* จัดให้อยู่กึ่งกลางภาพ */
    padding: 50px;
    color: #333;
  }

  .second-top img {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-right: 40px;
  }

  .second-top-p {
    max-width: 800px;
    font-size: 15px;
    line-height: 1.6;
    
  }


    .center-text {
      text-align: center;
    }

    .carousel-inner img {
  width: 70%;       /* ลดจาก 100% → 70% */
  height: auto;     /* ให้ภาพคงอัตราส่วน */
  margin: 0 auto;   /* จัดให้อยู่กึ่งกลาง */
}


.text-fr {
  font-family: "Anuphan", sans-serif;
    font-style: normal;
    font-size: 25px;
   }

   .text-fr-2 {
  font-family: "Anuphan", sans-serif;
    font-style: normal;
    font-size: 20px;
   }

   .text-fr-3 {
  font-family: "Anuphan", sans-serif;
    font-style: normal;
    font-size: 15px;
   }